@media all and (min-width: 320px) and (max-width: 640px) {
  
  /* Hide search text field */
  #block-views-exp-display-products-page {
    display: none;
  }
  
  /* Logo */
  a#logo {
    width: 100%;
    text-align: center;
  }
  
  /* Menu's here */
  
  /* Homepage carrousel */
  .view-carrousel {
    display: none;
  }
  
  /* Catalog */
  .view-display-products, .view-collection-products, .view-products-in-de-kijker {
    ul.products {
      li.product {
        width: 100%;
        float: none;
        margin: 0;
        border-bottom: 1px solid $mainRed;
        &.last {
          width: 100%;
        }
      }
    }
  }
  
  
}