@media all and (min-width: 320px) and (max-width: 640px) {
  
  /* Hide search text field */
  #block-views-exp-display-products-page {
    display: none;
  }
  
  /* Logo */
  a#logo {
    width: 100%;
    text-align: center;
  }
  
	/* Secondary Menu */
	#block-menu-secondary-navigation {
    padding-top: 20px;
	  ul {
	    margin: 0;
	    padding: 0;
	    height: 38px;
	    overflow: hidden;
	    background: #ededed url(../images/sprite.png) no-repeat 0 -313px;
	    li {
	      margin: 0;
	      padding: 0;
	      list-style: none;
	      text-transform: uppercase;
	      height: 38px;
	      line-height: 38px;
	      a {
	        border-bottom: none;
	        display: block;
	        padding-left: 8px;
		      &#smartphone-link {
		        padding-left: 50px;
		      }
	      }
	    }
	  }
	} 
  
  /* Homepage carrousel */
  .view-carrousel {
    display: none;
  }
  
  /* Catalog */
  .view-display-products, .view-collection-products, .view-products-in-de-kijker {
    ul.products {
      li.product {
        width: 100%;
        float: none;
        margin: 0;
        border-bottom: 1px solid $mainRed;
        &.last {
          width: 100%;
        }
      }
    }
  }
  
	/* Homepage categories */
	.catalog-blocks-front {
	  ul.blocks {
	    margin: 0;
	    padding: 0;
      li.block {
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
        list-style: none;
        a {
          background-color: none !important;
        }
      }
    }
  }
  
  
}