@media all and (min-width : 767px) and (max-width : 1024px) {

  /* Secondary Menu */
  #block-menu-secondary-navigation {
    ul {
      li {
        a {
          font-size: 1em;
        }
      }
    }
  }
  
  /* Homepage carrousel */
  .view-carrousel {
		ul.slides {
		  height: 250px !important;
      li.slide {
        height: 250px !important;
        .image {
          height: 250px !important;
          img {
            min-height: 250px !important;
          }
        }
		  }
	  }  
  } 
  
  /* Catalog */
  .view-display-products, .view-collection-products, .view-products-in-de-kijker {
    ul.products {
      li.product {
        width: 50%;
	      float: left;
        margin: 0;
        &.last {
        }
        &.even {
          width: 49%;
        }
      }
    }
  }
  
  
  
}