@media all and (min-width : 767px) and (max-width : 1024px) {

	/* Main Menu */
	#block-megamenu-main-menu {
	  ul#megamenu-main-menu {
	    li.megamenu-parent {
	      margin-right: 15px;
	      &.first {
	        margin-left: 15px;
	      }
	    }
	  }
	}

  /* Secondary Menu */
  #block-menu-secondary-navigation {
    ul {
      li {
        a {
          font-size: 1em;
        }
      }
    }
  }  
  
  /* Homepage carrousel */
  .view-carrousel {
    ul.flex-direction-nav {
      display: none !important;
    }
		ul.slides {
		  height: 250px !important;
      li.slide {
        height: 250px !important;
        .image {
          height: 250px !important;
          img {
            min-height: 250px !important;
          }
        }
        .text {
          height: 260px !important;
          .title {
            font-size: 2em !important;
          }
          .subtitle {
            font-size: 1.125em !important;
            text-align: center !important;
            max-width: 100% !important;
            bottom: 30px !important;
          }
        }
		  }
	  }  
  } 
  
  /* Catalog */
  .view-display-products, .view-collection-products, .view-products-in-de-kijker {
    ul.products {
      li.product {
        width: 50%;
	      float: left;
        margin: 0;
        &.last {
        }
        &.even {
          width: 49%;
        }
      }
    }
  }
  
	/* Homepage categories */
	.catalog-blocks-front {
	  ul.blocks {
	    li.block {
	      height: 160px;	    
	      a {
	        height: 160px;
	        .category {
	          font-size: 2em;
	        }
	      }
	    }
	  }
	}
	
	.lt-ie9 {
	  #campaign-monitor-subscribe {
	    display: none;
	  }
	}	
}